
body{
	text-align: left;
	color: #BEFF02;
	background-color: #FFFF00;
}
a {
	color: 	#FFFF00;
	text-decoration: none;
}
h2 {
	font-size: 86px;
	font-weight: bold;
}
body:hover {
	color: #BEFF02;
}
a:hover {
	color: #BEFF02;
}
a{
	padding: 500px
}
